<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookTools.Properties.Settings>
            <setting name="WebServiceURL" serializeAs="String">
                <value />
            </setting>
            <setting name="EventCode" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoveMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenInBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppConsoleURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RemedyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RemedyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InsertInSubject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAttachment" serializeAs="String">
                <value>False</value>
            </setting>
        </OutlookTools.Properties.Settings>
    </userSettings>
</configuration>